header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%; /* Ensure the header fills the width */
}

.nav-link {
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    color: #007bff; /* Bootstrap blue for example */
    font-family: Arial, sans-serif;
}

.login-button {
    padding: 8px 15px;
    background-color: #007bff; /* Bootstrap blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 250px;
}

.register-button {
    padding: 8px 15px;
    background-color: #007bff; /* Bootstrap blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 150px;
}

.button:hover {
    background-color: #0056b3;
}

.home-button-img {
    height: 40px; /* Adjust the size as needed */
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 20px;
    }

    .nav-link {
        margin: 10px 0; /* More space around links on smaller screens */
    }

    .home-button-img {
        height: 30px; /* Smaller image on smaller screens */
    }
}
