header {
    background-color: #ffffff;
    padding: 1.5rem 1.25rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 5vh; 
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    color: #000000;
    font-size: calc(10px + 1vmin);
    margin: 0; 
}

.home-button-img {
    height: 5vh; 
    cursor: pointer;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    padding: 0 10px; 
}

.auth-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 120px; 
}

.nav-link, .button {
    text-decoration: none;
    font-size: calc(0.625rem + 0.5vmin);
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.375rem 0.75rem;
    cursor: pointer;    
}

.nav-link:hover, .button:hover {
    background-color: #0056b3;
}

.notification-bell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem; 
}

.bell-icon {
    position: relative;
    width: 24px;
    height: 24px;
    color: black;
    cursor: pointer;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    font-size: 0.75rem;
}

@media (max-width: 900px) {
    header {
        flex-direction: row; 
        padding: 0.5rem; 
        height: auto; 
        align-items: center; 
        justify-content: center; 
    }
    
    .home-button-img, .center-content, .auth-link {
        width: auto; 
        text-align: center;
        justify-content: center;
        margin: 0 1rem; 
    }
    
    .auth-link {
        order: 3; 
    }
}
