header {
    box-sizing: border-box;
    /* background-color: yellow; */
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed;
    z-index: 1000;
    overflow: hidden; 
}

.btn-block {
    display: flex;
    align-items: center;
    gap: 1rem; 
    position: absolute;
    right: 10rem;
    top: 3rem;
}

.auth-icon-bell {
    width: 1.8rem;
    height: 1.8rem;
}
.auth-icon-account {
    width: 1.5rem;
    height: 1.5rem;
}

.nav-link, .button {
    text-decoration: none;
    font-size: calc(0.625rem + 0.5vmin);
    background-color: #000000;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.nav-link:hover, .button:hover {
    background-color: #333;
}

.notification-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.notification-bell_icon {
    text-decoration: none;
    font-size: calc(0.625rem + 0.5vmin);
    background-color: #000000;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    font-size: 0.75rem;
}


.home-txt-btn {
    text-decoration: none;
    color: black;
    
}
/* typing text */
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
.typing_text {
    flex-shrink: 0; 
    white-space: nowrap;
    overflow: hidden; 
}

.typing_text.four {
    font-size: 4rem;
    font-family: "Play", sans-serif;
}

.typing_text.small {
    /* font-size: 1rem;  */
    font-family: "Play", sans-serif;
}

.four .type {
    padding: 2rem 1rem;
    width: auto;
    margin: auto;
}

.four h3 {
    width: 11ch;
    font-size: 6rem;
    border-right: 4px solid black;
    margin: 2rem auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(13, end), blink-caret 0.5s step-end infinite alternate;
}

.small h3 {
    width: 11ch;
    font-size: 2.5rem;
    border-right: 4px solid black;
    margin: 2rem auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(13, end), blink-caret 0.5s step-end infinite alternate;
}

@-webkit-keyframes typing {
    from {
        width: 0;
    }
}

@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

@media (max-width: 900px) {
    header {
        flex-direction: row;
        padding: 0.5rem;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }

    .header-btn-block {
        width: auto;
        text-align: center;
        justify-content: center;
        margin: 0 1rem;
        gap: 0.5rem;
    }
}
