html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url('/Image/fond2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f5f5f5;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: calc(10px + 1vmin);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.footer {
    /* background-color: yellow; */
    height: 5rem;
    width: 100%;
    position: absolute;
    bottom: 3rem ;
}

.book-appointments-txt {
    position: fixed;
    bottom: 3rem;
    left: 5rem;

    font-size: 1.5rem;
    font-weight: 600;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4rem;
    right: 5rem;
}

.continue-btn {
    /* margin: 50px 50px;  */
    padding: 0.4rem;
}

.continue-btn a {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 1.15rem;
    border-radius: 2rem;
    transition: background-color 0.3s;
    font-weight: 600;
}

.continue-btn a:hover {
    background-color: #333;
}


@media (max-width: 768px) {
    .btn-container {
        flex-direction: column;
        align-items: center;
        bottom: 10px;
        right: 10px;
    }

    .continue-btn {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
}