body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.625vw + 0.625vh + 0.5vmin);
}

h2 {
    color: #333333;
}

.home-button-img {
    height: 18vh; 
    cursor: pointer;
    position: absolute;
    left: 10vw;
    top: 10vh;
}

.login-link a {
    font-weight: bold;
    color: #0056b3;
    text-decoration: none;
}

.card-body {
    padding: 1.25rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333333;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 100%;
    padding: 0.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    box-sizing: border-box;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus {
    border-color: #0056b3;
    box-shadow: 0 0 0.5rem rgba(0, 86, 179, 0.5);
    outline: none;
}

.btn-primary {
    background-color: #0056b3;
    border: none;
    color: white;
    padding: 0.75rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    font-size: large;
}

.btn-primary:hover {
    background-color: #1a6ac0;
}

::placeholder {
    color: #5f5f5f;
}

.invalid-feedback {
    color: #d9534f;
    font-size: 0.85rem;
}

.form-group-radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-group-radio div {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.form-group-radio label {
    margin-right: 0.5rem;
    margin-top: 0.6rem;
}


@media (max-width: 900px) {

    
    .card-body {
        padding: 1rem;
    }
    .btn-primary {
        padding: 0.625rem;
    }

    .form-group-radio {
        flex-direction: column;
    }

    .form-group-radio div {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}
