body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: block; 
}

.main-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
    padding: 20px;
}

.whole-page {
    /* background-color: yellow; */
    text-align: center;
    max-width: 100%; 
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 8px;
    color: #0056b3;
    font-size: 16px;
}

.select-dropdown {
    /* width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid #0056b3;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #0056b3;
    appearance: none;*/
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.293%200.29303L6%204.58603L1.707%200.29303L0.293%201.70703L6%7.41403L11.707%1.70703L10.293%200.29303Z%22%20fill%3D%22%230056B3%22%3E%3C/path%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;  */
    width: 100%;
    padding: 0.625rem; 
    font-size: calc(0.75rem + 0.5vmin); 
    border-radius: 0.6vh;
    border: 0.0625rem solid #ccc;
    margin-bottom: 1rem;
    background-color: white;

}


.select-dropdown:hover {
    background-color: #e1f5fe;
}

.select-dropdown:focus {
    border-color: #0056b3;
    outline: none;
}

.submit_button {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 0.6vh;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}




/* return button  */

.return-btn-box {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    top: 10rem; 
    left: 5rem; 
    cursor: pointer;
}
.arrow {
    width: 0.7rem;
    height: 0.7rem;
    border: solid white;
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    /* padding: ; */
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.return-btn-box .arrow {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%) rotate(135deg);
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
}
.return-btn-box:hover {
    background-color: #333;
}
