html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url('/Image/fond3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f5f5f5;
    color: #000000;
    font-size: calc(10px + 1vmin);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
    padding: 20px;
}

.whole-page {
    /* background-color: yellow; */
    text-align: center;
    max-width: 100%; 
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.max-amount-txt {
    color: #ff0000;
    margin-bottom: 20px;
}

.select-appointments {
    width: 100%;
    padding: 0.625rem;
    font-size: calc(0.65rem + 0.5vmin);
    border: 0.0625rem solid #ccc;
    margin-bottom: 1rem;
    background-color: white;

    border-radius: 10rem;
}

.select-appointments:hover {
    background-color: #ecebeb;
}

/* .select-appointments:focus {
    border-color: #333;
    outline: none;
} */

.go-create-btn {
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #000000;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    font-weight: 600;
}

.go-create-btn:hover {
    background-color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.delete-btn {
    margin-top: 20px;
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 0.9rem;
    color: white;
    background-color: #de3131;
    border: none;
    cursor: pointer;
    border-radius: 10rem;
    font-weight: 600;
}

.delete-btn:hover {
    background-color: #f55a5a;
}

.return-btn-box {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    top: 10rem; 
    left: 5rem; 
    cursor: pointer;
}
.arrow {
    width: 0.7rem;
    height: 0.7rem;
    border: solid white;
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    /* padding: ; */
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.return-btn-box .arrow {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%) rotate(135deg);
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
}
.return-btn-box:hover {
    background-color: #333;
}

.deletion-message {
    color: red;
    text-align: center;
    margin-top: 20px;
    display: none;
}
